<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<dict>
		<key>placeID</key>
		<string>DvtNVZHx</string>
		<key>name</key>
		<string>Заговор</string>
		<key>mission</key>
		<string>Найти 30 золотых</string>
		<key>code</key>
		<string>30</string>
		<key>nextLocale</key>
		<dict>
			<key>latitude</key>
			<real>47.0445606</real>
			<key>longitude</key>
			<real>28.8609977</real>
			<key>title</key>
			<string>Тайная Вечеря</string>
			<key>subtitle</key>
			<string>Пункт 2</string>
		</dict>
	</dict>
	<dict>
		<key>placeID</key>
		<string>9ZcjFP9g</string>
		<key>name</key>
		<string>Тайная Вечеря</string>
		<key>mission</key>
		<string>Разделите трапезу</string>
		<key>code</key>
		<string>1284</string>
		<key>nextLocale</key>
		<dict>
			<key>latitude</key>
			<real>47.038</real>
			<key>longitude</key>
			<real>28.8495</real>
			<key>title</key>
			<string>Гефсимания</string>
		</dict>
	</dict>
	<dict>
		<key>placeID</key>
		<string>9ZcjFP9g</string>
		<key>name</key>
		<string>Гефсимания</string>
		<key>mission</key>
		<string>Посмотри ролик</string>
		<key>code</key>
		<string>1284</string>
		<key>nextLocale</key>
		<dict>
			<key>latitude</key>
			<real>47.0191</real>
			<key>longitude</key>
			<real>28.8402</real>
			<key>title</key>
			<string>Ночь суда</string>
			<key>subtitle</key>
			<string>Пункт 3</string>
		</dict>
	</dict>
	<dict>
		<key>placeID</key>
		<string>9ZcjFP9g</string>
		<key>name</key>
		<string>Ночь суда</string>
		<key>mission</key>
		<string>Посмотри ролик</string>
		<key>code</key>
		<string>1284</string>
		<key>nextLocale</key>
		<dict>
			<key>latitude</key>
			<real>47.0168</real>
			<key>longitude</key>
			<real>28.8197</real>
			<key>title</key>
			<string>Иисус у Ирода</string>
		</dict>
	</dict>
	<dict>
		<key>placeID</key>
		<string>9ZcjFP9g</string>
		<key>name</key>
		<string>Иисус у Ирода</string>
		<key>mission</key>
		<string>Посмотри ролик</string>
		<key>code</key>
		<string>1284</string>
		<key>nextLocale</key>
		<dict>
			<key>latitude</key>
			<real>47.0169</real>
			<key>longitude</key>
			<real>28.8194</real>
			<key>title</key>
			<string>Путь на Голгофу</string>
		</dict>
	</dict>
	<dict>
		<key>placeID</key>
		<string>9ZcjFP9g</string>
		<key>name</key>
		<string>Путь на Голгофу</string>
		<key>mission</key>
		<string>Посмотри ролик</string>
		<key>code</key>
		<string>1284</string>
		<key>nextLocale</key>
		<dict>
			<key>latitude</key>
			<real>47.0159</real>
			<key>longitude</key>
			<real>28.8181</real>
			<key>title</key>
			<string>Голгофа</string>
		</dict>
	</dict>
	<dict>
		<key>placeID</key>
		<string>9ZcjFP9g</string>
		<key>name</key>
		<string>Голгофа</string>
		<key>mission</key>
		<string>Посмотри ролик</string>
		<key>code</key>
		<string>1284</string>
		<key>nextLocale</key>
		<dict>
			<key>latitude</key>
			<real>47.0163</real>
			<key>longitude</key>
			<real>28.8140</real>
			<key>title</key>
			<string>Гробница</string>
		</dict>
	</dict>
	<dict>
		<key>placeID</key>
		<string>9ZcjFP9g</string>
		<key>name</key>
		<string>Гробница</string>
		<key>mission</key>
		<string>Посмотри ролик</string>
		<key>code</key>
		<string>1284</string>
		<key>nextLocale</key>
		<dict>
			<key>latitude</key>
			<real>47.0163</real>
			<key>longitude</key>
			<real>28.8140</real>
			<key>title</key>
			<string>Гора Елеонская</string>
		</dict>
	</dict>
</array>
</plist>
